/* You can add global styles to this file, and also import other style files */
.ng-busy-default-sign{
      position: fixed !important;
      border-top:-1px;

}

.portlet.light .portlet-body {
    padding-top: 8px;
    height: 400px;
    overflow-x: hidden;
}
.modal-open .modal{
    background-color: rgba(0, 0, 0, .4)
}

    .page-header.navbar.navbar-fixed-top,
    .page-header.navbar.navbar-static-top {
      z-index: 555;
    }

.portlet.box>.portlet-body {
    height: 400px;
    overflow-x: hidden;
}
.modal .modal-header .close{
  display: none;
}
    .modal .modal-header h3 {
      font-size: 22px;
      margin-top: 20px;
    }
.list-group>li{
  font-size: 16px;
}
.modal-title{
  font-size: 20px;
}

.modal{height: 100%;border-radius: 0;}
    .modal.fade .modal-dialog{
      top: 10%;
    }